.wrapper{
    justify-content: center;

}
.navBar{
    justify-content: center;
}
img {max-width:100%;}
@media  (max-width: 200px) {

}

.menucenter1{
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 2px solid red;
}

.column
{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}


.col1
{
    position:fixed;
    background-color:black;
    color:white;
    text-align:center;
    width: 100%;
    height:4em;
    justify-content: center;
    z-index: 1;
}

ul
{
    display:flex;
    list-style-type: none;
    justify-content: center;
}

li a {
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: "tahoma";
    font-weight: 700;
    font-size:100%;
}

.col3{
    justify-content: center;
}

li a:hover{
    font-size: 115%;
    color:white;
}

.active {
    color:yellow;
    text-decoration: underline;
}
.col-lg-4{
    text-align: left;
}
.col-lg-8{
    text-align: left;
    padding-left: 40px;
}

.col2
{
    display:flex;
    flex-direction:row;

    height:130%;
    background-color:#F9F9F9;
}

.row1,.row3
{
    flex: 1 1 auto;
    background-color:black;
}

.row2
{
    flex:4 1 auto;
}

footer
{
    display: flex;
    flex-direction: row;
    flex:auto;
}

@media (max-width: 499px) {
    .row1, .row3 {
        display: none;
    }
}

footer {
    background-color:black;
    color:white;
    text-align:center;
    padding-top: 10px;
}

.container-fluid {
    margin:10px;
    margin-top:50px;
}

h4 {
    text-align:center;
}

.col-md-5>input {
    background-color:black;
    color:white;
    border-radius: 10px;

}

.col-md-5>input :hover {
    width: 20%;
    background-color:grey;
}

.row2 {
    text-align:center;
}

.footercars li
{
    margin:1%;
    
}


#bloggmeny {
	width: 150px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	float: left;
	text-decoration: none;
	font-family: Verdana;
	font-size: 16px;
    color: white;
    text-shadow: 1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#thread-info {
	width: 150px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	float: left;
	text-decoration: none;
	color: #00FF00;
}
.artrik {
	border: thin solid #FFFFFF;
	background: #FFFFFF;
	padding: 5px;
    text-align: left;
}
a.class9:link {
	text-decoration: none;
	font-family: tahoma;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
a.class9:visited {
	text-decoration: none;
	font-family: tahoma;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
a.class9:hover {
	border-bottom: 1px solid;
	color: yellow;
}
a.class8:link {
	text-decoration: none;
	font-family: tahoma;
	font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: left;
}
a.class8:visited {
	text-decoration: none;
	font-family: tahoma;
	font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: left;
}
a.class8:hover {
    border-bottom: 1px solid;
    color: yellow;
    }
h2.class7 {
	font-family: tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}
.bloggf {
	font-size: 12px;
	font-style: italic;
	font-family: Arial;
	color: black;
    text-align: right;
}
								/* Rikards slutar hÃ¤r */